<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">
    
   <bean id="pRef" class="co.edureka.model.Product">
       <property name="stock" value="3"/>
       <property name="price" value="70000"/>
       <property name="name" value="iPhoneX"/>
   </bean>
   
   <bean id="befAdv" class="co.edureka.model.BeforeAdvice"/>
   <bean id="aftAdv" class="co.edureka.model.AfterAdvice"/>
   
   <!-- Configuration of ProxyFactoryBean API -->
   <bean id="proxy" class="org.springframework.aop.framework.ProxyFactoryBean">
       <property name="target" ref="pRef"/>
       <property name="interceptorNames">
       	<list>
       		<value>befAdv</value>
       		<value>aftAdv</value>
       	</list>
       </property>
   </bean>

</beans>